<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IT BOOK</title>
        <!-- 파비콘(favicon) -->
        <link rel="shortcut icon" href="favi.ico"> 
    </head>
<body>
    <div align="center">
        <%- include("../header.ejs") %>
        <%- include("../nave.ejs")%>

        


        <%- include("../footer.ejs")%>
    </div>
</body>
</html>